<ion-content>

  <!--<div class="bg-08"></div>-->

  <ion-card class="bg-card-05 card-title-simple" color="dark">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="settings-outline"></ion-icon>
        BIENVENIDO A LA CONFIGURACIÓN DEL SISTEMA
        <ion-icon name="settings-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="bg-card-07 bg-00" color="dark">
    <ion-card-content style="width: 1024px; margin: 0 auto;">
      <form [formGroup]="configGroup" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item-divider color="none">
            <ion-label>BÚSQUEDA</ion-label>
          </ion-item-divider>

          <ion-item button>
            <ion-label>Habilitar búsqueda por género</ion-label>
            <ion-toggle slot="end" formControlName="genreSearch"></ion-toggle>
          </ion-item>
          <ion-item button>
            <ion-label>Habilitar búsqueda por artista</ion-label>
            <ion-toggle slot="end" formControlName="artistSearch"></ion-toggle>
          </ion-item>
        </ion-list>
      </form>

      <ion-button #submitButton color="primary" type="submit" style="width: 100%;">Guardar configuración <ion-icon slot="end" name="save"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
