ion-content {
    --background: url('/assets/images/backgrounds/girl-singing.jpg') no-repeat center center / cover;
}
  
ion-list {
    --ion-item-background: transparent;
}

.box-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.list-items-container {
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box !important;

    .spinner-load-data {
        width: 100%;
        margin-top: 48px;
        text-align: center;

        ion-spinner {
            width: 48px;
            height: 48px;
        }
    }

    ion-card {
        position: relative;
        margin: 10px !important;
        height: calc(100% - 20px);

        ion-card-header {
            height: 56px;
        }

        ion-card-content {
            height: calc(100% - 56px);

            cdk-virtual-scroll-viewport {
                height: 100%;
                overflow: auto;

                ion-item {
                    background-color: rgba(0, 0, 0, 0.2);
                    color: #a0a0a0;
                    --color-hover: white;
                }
            }

            cdk-virtual-scroll-viewport::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }
        }
    }
}

.genre-list {
    width: 140px;
    transition: .2s all;
}

.genre-list.actual {
    width: 332px;
    transition: .2s all;
}

.artist-list {
    width: 140px;
    transition: .2s all;
}

.artist-list.actual {
    width: 332px;
    transition: .2s all;
}

.mini-play {
    width: 448px;

    ion-card {
        ion-card-content {
            padding: 0;
            margin: 0;

            .mini-sep {
                width: 100%;
                height:12px;
            }

            .mini-previous {
                width: 100%;
                height: 332px;
                padding: 18px;

                .mini-video {
                    width: 100%;
                    height: 100%;
                    background-image: url('https://c.tenor.com/gRSz9MGKjecAAAAd/roddy-ricch-music-video.gif');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            .mini-title {
                padding: 12px 18px;
                font-size: 18px;
                text-align: center;
                border-radius: 6px;
            }
        }
    }
}

.songs-list {
    width: calc(100% - 140px - 332px - 448px);
}

.songs-list.actual {
    width: calc(100% - 140px - 140px - 448px);
}
