<ion-content>

  <div class="list-items-container genre-list">
    <ion-card class="bg-card-05" color="dark">
      <ion-card-header>
        <ion-card-title>
          Género
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item button detail="true">
            <ion-thumbnail slot="start">
              <img src="https://cdn.quonomy.com/3485/conversions/17-sorprendentes-curiosidades-sobre-la-musica-reggae-h-lg.jpg" />
            </ion-thumbnail>
            <ion-label>Bob Marley</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="list-items-container artist-list">
    <ion-card class="bg-card-05" color="dark">
      <ion-card-header>
        <ion-card-title>
          Artista
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  
  <div class="list-items-container songs-list">
    <ion-card class="bg-card-05" color="dark">
      <ion-card-header>
        <ion-card-title>
          Canciones
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
