<ion-content>

  <div class="box-container">
    <div class="list-items-container genre-list" [class.actual]="actualTab === 'genre'" *ngIf="configService.lastConfig.genreSearch">
      <ion-card class="bg-card-05" color="dark">
        <ion-card-header>
          <ion-card-title>
            Género
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <div class="spinner-load-data" *ngIf="genreLoading"><ion-spinner></ion-spinner></div>

          <cdk-virtual-scroll-viewport itemSize="72" minBufferPx="900" maxBufferPx="1336" #virtualScrollGenre *ngIf="!genreLoading">
            <ion-list>
              <ion-item *cdkVirtualFor="let item of genreList; let index = index;" button detail="true" [color]="getItemColor(index, 'genre')" class="genre-list-item">
                <ion-thumbnail slot="start">
                  <img [src]="item.imageUrl" />
                </ion-thumbnail>
                <ion-label>{{ item.name }}</ion-label>
              </ion-item>
            </ion-list>
          </cdk-virtual-scroll-viewport>
        </ion-card-content>
      </ion-card>
    </div>
    
    <div class="list-items-container artist-list" [class.actual]="actualTab === 'artist'" *ngIf="configService.lastConfig.artistSearch">
      <ion-card class="bg-card-05" color="dark">
        <ion-card-header>
          <ion-card-title>
            Artista
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <div class="spinner-load-data" *ngIf="artistLoading"><ion-spinner></ion-spinner></div>

          <cdk-virtual-scroll-viewport itemSize="72" minBufferPx="900" maxBufferPx="1336" #virtualScrollArtist *ngIf="!artistLoading">
            <ion-list>
              <ion-item *cdkVirtualFor="let item of artistList; let index = index;" button detail="true" [color]="getItemColor(index, 'artist')">
                <ion-thumbnail slot="start">
                  <img [src]="item.imageUrl" />
                </ion-thumbnail>
                <ion-label>{{ item.name }}</ion-label>
              </ion-item>
            </ion-list>
          </cdk-virtual-scroll-viewport>
        </ion-card-content>
      </ion-card>
    </div>
    
    <div class="list-items-container songs-list" [class.actual]="actualTab === 'media'">
      <ion-card class="bg-card-05" color="dark">
        <ion-card-header>
          <ion-card-title>
            Canciones
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <div class="media-not-found" *ngIf="!mediaList.length">
            <p>No se encontraron videos o audios</p>
            <ion-icon name="alert-circle-outline" color="warning"></ion-icon>
          </div>

          <div class="spinner-load-data" *ngIf="mediaLoading"><ion-spinner></ion-spinner></div>

          <cdk-virtual-scroll-viewport itemSize="72" minBufferPx="900" maxBufferPx="1336" #virtualScrollMedia *ngIf="!mediaLoading">
            <ion-list>
              <ion-item *cdkVirtualFor="let item of mediaList; let index = index;" button detail="true" [color]="getItemColor(index, 'media')">
                <ion-icon name="play" slot="start"></ion-icon>
                <ion-label>
                  <h2>{{ item.name }}</h2>
                  <p>Duración: 02:42 minutos</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </cdk-virtual-scroll-viewport>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="list-items-container mini-play">
      <ion-card color="dark" style="background-color: transparent;">
        <ion-card-content>
          <div class="mini-previous bg-card-05"><div class="mini-video" [style.backgroundImage]="getCurrentMedia() ? 'url(' + getCurrentMedia().imageUrl() + ')' : '/assets/images/no-image-equalizer.gif'"></div></div>

          <div class="mini-sep"></div>

          <div class="mini-title bg-card-05">Nirvana</div>

          <div class="mini-sep"></div>

          <div class="mini-title bg-card-05">{{ getCurrentMedia() ? getCurrentMedia().name : 'Cargando..' }}</div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
