<ion-header>
  <ion-toolbar>
    <ion-title>Dispositivos USB detectados <ion-spinner class="icon-to-right"></ion-spinner></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="preloading-media-count" *ngIf="loadingFiles">
    <ion-spinner></ion-spinner>
  </div>

  <div class="list-files" *ngIf="!loadingFiles">
    <cdk-virtual-scroll-viewport itemSize="72" minBufferPx="900" maxBufferPx="1336" #virtualScrollFiles>
      <ion-list>
        <ion-item *cdkVirtualFor="let item of filesData; let index = index;" button [color]="getItemColor(item)">
          <ion-icon name="play" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ item.name }}</h2>
            <p>Duración: 02:42 minutos</p>
          </ion-label>
          <ion-spinner slot="end" *ngIf="item.additional.status === 'uploading'"></ion-spinner>
          <ion-icon name="close-circle" slot="end" *ngIf="item.additional.status === 'error'"></ion-icon>
          <ion-icon name="checkmark-circle" slot="end" *ngIf="item.additional.status === 'uploaded'"></ion-icon>
          <ion-icon name="hourglass-outline" slot="end" *ngIf="!item.additional.status"></ion-icon>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Copiados: {{ copiedFiles ? copiedFiles : '0' }} / {{ totalFiles ? totalFiles : '?' }} <ion-icon name="cloud-upload" class="icon-to-right"></ion-icon></ion-title>
  </ion-toolbar>
</ion-footer>
